@import url('https://fonts.googleapis.com/css?family=Raleway:500,700,800i&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
.light {
  background-color:rgb(241, 246, 255);
  color: rgba(20,20,20,1);
}

.dark{
  background-color: rgb(79, 120, 158);
  color: rgba(255,255,255,1)
}

.light .card{
    margin: 3%;
    border-radius: 20px;
    box-shadow: -1px 2px 25px rgba(0,0,0,.08);
    width: 50%;
    height: auto;
}

.dark .card{
  background-color: #afacac;
  margin: 3%;
  border-radius: 20px;
  box-shadow: -1px 2px 25px rgba(255,255,255, .1);
  width: 50%;
  height: auto;
}

h2{
    font-weight: 700;
    font-size: 4vw;
    margin: 3%;
}

h4{
    font-weight: 700;
    font-size: 1.5vw;
    padding: 2%;
    border: 1.5px solid;
    border-color: #ccc;
    border-radius: 5px;
    margin-bottom:2%;
}

h4:hover{
  color: rgb(125, 194, 250);
}

.dark h4:hover{
  color: gold;
}

#accordion {
  margin: 3%;
  margin-top: 8%;
}

/* The switch - the box around the slider */
label {
  margin:0;
}

.container{
    text-align: center;
}

#main{
    text-align: center
}
#switch {
  position: relative;
  
  width: 60px;
  height: 34px;
  transform: translateY(20%);  
}

#theme {
  margin-right: 2%;
  transform: translateY(50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
