{% load static %}
<!DOCTYPE html>
<br lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{%static 'js/animate.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>my profile</title>
</head>
<body id= "body" class="light">

  <div class="card mx-auto justify-content-center">
    <div class="card-body">
        <h2 class="text-center">My Profile</h2>
          <div id="accordion">
            <h4> Activity</h4>
            <div>
              <p>kuliah</p>
              <p>tidur</p>
            </div>

            <h4>Experience</h4>
            <div>
              <p>Staff Senbud BEM Fasilkom UI</p>
              <p>Staff Direct Marketing of COMPFEST 11</p>
            </div>

            <h4>Achievements</h4>
              <p>---</p>
          </div>
    </div>
  </div>

  <div class="col-sm-12"id="main">
      <label id="theme">DARK?</label>
    <label class="col-sm-12 col-md-6"id="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </div>
</body>
</html>
